body{
  font-family: 'Lato', sans-serif;
}
a{
  color:black;
  text-decoration: none;
}

.text-vertical{
  writing-mode: vertical-lr;
}

.layoutnav{
  width: 300px;
  height: 100vh;
  padding-left: 32px;

}

.nav{
  line-height: 24px;
  font-size: 16px;
  a{
    margin-bottom: 24px;
    color:#212529;
  }
}
.nav-item{
  span{
    padding-top: 8px;
  }
}

.nav-link:hover:before{
  content:"";
  position: absolute;
  left:0;
  width:4px;
  height: 32px;
  border-left: 4px solid #198754;
}

.user_photo{
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-image: url(https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80);
  background-size: 40px 40px;
}

.material-icons{
  font-size: 24px; 
}

.nav-item:hover{
  color: $success;
}

.span_green{
  color:$success;
  background: $light;
  font-family: 'Roboto', sans-serif;
}

.photosize{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}