@mixin pc{
    @media(min-width:768px){
        @content;
    }
}

.banner{
    background: url('../images/bg_home_mobile.jpg') center;
    background-size:contain;
    @include pc{
        background: url('../images/bg_home.jpg') center;
        background-size:contain;
    }
}

.banner_height{
    height: 50vh;
    @include pc{
        height: calc(100vh - 90px);
    }
}

.color_gradient{
    color: transparent;
    background: linear-gradient( to bottom, #09ACF5, #62DB54);
    background-clip: text;
    -webkit-background-clip: text;
}
//參考每日任務
.btn-gradient {
    padding: .5rem 2rem;
    color: white;
    font-size: 1.125rem;
    line-height: 1.444444;
    background: linear-gradient(104deg, #09ACF5, #62DB54);
    border-radius: .5rem;
    border: transparent;
    transition: opacity .3s;
    &:hover {
      color: white;
      opacity: .9;
    }
  }

.banner_fs_rwd{
    font-size: 20px;
    @include pc{
        font-size: 48px;
    }
}

.square {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }


.good-card{
    color:white;
    background:$dark;
    border: 2px solid $dark;
    border-radius: 12px;
    &:hover{
        color:$primary;
        border: 2px solid $primary;
        background: #000;
        .material-icons{
            color: transparent;
            background: linear-gradient( to bottom, #09ACF5, #62DB54);
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.btnlist{
	display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    white-space: nowrap;
    margin-bottom: 54px;
    .btn-item{
        padding: 16px 32px;
        border: 1px solid white;
        border-radius: 12px;
        margin: 16px;
        color:white;
        &:hover{
            background:$light;
            border: 1px solid $primary;
        }
    }
  
}


.card:hover{
    border: 1px solid $primary;
}

.frame{
    border-radius: 12px;
    background: $light;
    border: 1px solid white;
    position: relative;
    .number-position{
        font-size: 48px;
        padding: 0 8px;
        position: absolute;
        background: $light;
        top:-36px;
        left: 48px;
    }

}

.programs{
    border-radius: 8px;
    border: 1px solid white;
    margin-right: 16px;
    line-height: 26px;
    font-size:18px;
    padding: 24px 32px;
}

.car-img-sug{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 8px;
    border-radius: 50%;
}

.opacity{
    opacity: 20%; 
    &:hover{
        opacity: 100%;
        span{
            color:#62DB54;
        }
        .bg-white{
            background:$primary!important;
        }
    }
}

.picturearea{
    height: 236px;
    background-image: url(./assets/images/info01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pc{
        height: 615px;
    }
}
.picturearea2{
    height: 236px;
    background-image: url(./assets/images/info02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pc{
        height: 615px;
    }
}
.picturearea3{
    height: 236px;
    background-image: url(./assets/images/info03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pc{
        height: 615px;
    }
}
.picturearea4{
    height: 236px;
    background-image: url(./assets/images/info04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include pc{
        height: 615px;
    }
}

.wordposition{
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 236px;
    @include pc{
        height: 615px;
    }
}
     


.article{
    padding:32px;
    img{
        max-width: 100%;
    }
}
.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 1px solid #62DB54;
      border-left: 1px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 1px solid #62DB54;
      border-right: 1px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 1px solid #62DB54;
      border-left: 1px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 1px solid #62DB54;
      border-right: 1px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
}
  
.article:hover{
    .squareRounded {
      display: block;
    }
}

.radius-24{
    border-radius:24px;
}

.student{
    img{
        max-width: 100%;
        // max-height: 381px;
       
    }
    @include pc{
        position: relative;
    }
}

.student-item{
    position: relative;
    max-width: 100%;
    background: white;
    border-radius: 24px 24px 24px 0px;
    @include pc{
        top:-230px;
        left:230px;
    }

    img{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius:50% ;
        top: -50px;
        right: 32px;
    }
}

.green_line{
    width: 50px;
    height: 3px;
}


.btn-outline-white{
    border: 1px solid white;
    color:white;
    &:hover{
        color:white;
        background: $light;
    }
}


//Swiper  參照每日任務
  .feedbg {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
    height: 733px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    @media (max-width:991px) {
      height: auto;
    }
  }